<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--这是t_emp表的映射文件-->
<!--一个表对应一个映射文件-->
<!--namespace指定dao接口，让映射文件和dao一一对应-->
<mapper namespace="com.ck.dao.IT_ConfigfilefirstkindDao">

    <resultMap id="IT_Configfilefirstkind" type="com.ck.entity.T_Config_file_first_kind">
        <result column="ffk_id" property="ffk_id"></result>
        <result column="first_kind_id" property="first_kind_id"></result>
        <result column="first_kind_name" property="first_kind_name"></result>
        <result column="first_kind_salary_id" property="first_kind_salary_id"></result>
        <result column="first_kind_sale_id" property="first_kind_sale_id"></result>
    </resultMap>

</mapper>
